body {
    background-color: rgb(44, 38, 38);
    color: lightblue;

}

.container {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 100px;
}

.content {
    display: flex;
    align-items: center;
}

img {
    width: 300px;
}

.content li {
    margin: 50px;
}